<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
</head>
<body>
<div align="center">
    <div>
        <h2 class="logo-name">宠物用品商城</h2>
        <h3>欢迎进入宠物商品城管理页面</h3>
    </div>
    <div>
        <!--    <button type="submit" class="btn btn-primary block full-width m-b">用户管理</button>-->
        <a class="btn btn-sm btn-white btn-block" href="/user/list">用户管理</a>
        <a class="btn btn-sm btn-white btn-block" href="/product/list">商品管理</a>
        <a class="btn btn-sm btn-white btn-block" href="/order/list">订单管理</a>
    </div>
</div>
</body>
</html>
<!-- 管理员页 -->