<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.petshoptest.mapper.ProductMapper">

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.example.petshoptest.model.Product">
    insert into product (name,introduction,price)
    values ( #{name,jdbcType=VARCHAR},#{introduction,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.example.petshoptest.model.Product">
    update product
    set name=#{name,jdbcType=VARCHAR}, pic_Path=#{picPath,jdbcType=VARCHAR},
        introduction=#{introduction,jdbcType=VARCHAR}, price=#{price,jdbcType=VARCHAR},
        updateDate = #{updateDate, jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.example.petshoptest.model.Product">
    select * from product where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultType="com.example.petshoptest.model.Product">
    select * from product
  </select>

</mapper>